ul.cart, li {
    display: block;
    list-style: none;
    text-decoration: none;
}

li.cart-item {
    background-color: lightgray;
    padding: 10px;
    border-bottom: 1px solid black;
}

button {
    background-color: lightgreen;
}