* {
  margin: 0;
  font-family: 'Open Sans', sans-serif;;
  font-size: 100%;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 16px;
}

p, a, button, li, ul {
  font-size: 16px;
}

a {
  color: #EFF2EF;
}

.nav {
  color: #EFF2EF;
  background-color: #264653;
  box-shadow: 0 5px 20px -5px black;
  position: relative;
  z-index: 10;
}