
.product {
    height: 400px;
    width: 300px;
    background-color: lightcyan;
    text-align: center;
}

img {
    width: 150px;
    height: 200px;
    background-color: lightgray;
}

button {
    height: 30px;
    width: 100px;
    font-size: .75rem;
}

ul, li {
    list-style: none;
    display: inline-block;
    padding: 4px;
    text-decoration: underline;
    font-size: .75rem;
}

ul {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 5px;
    justify-content: center;
}