
.product {
    height: 320px;
    width: 300px;
    background-color: lightcyan;
    text-align: center;
    padding: 10px
}

img {
    width: 150px;
    height: 200px;
    background-color: lightgray;
}

button {
    height: 30px;
    width: 100px;
    font-size: .75rem;
    border-radius: 4px;
    border: 1px solid white;
}

button.enabled {
    background-color: lightgreen;
}

button.disabled {
    background-color: lightpink;
}

ul, li {
    list-style: none;
    display: inline-block;
    padding: 4px;
    text-decoration: underline;
    font-size: .75rem;
    cursor: default;
}

ul {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 5px;
    justify-content: center;
}

li.selected {
    background-color: lightgray;
}