.products {
    display: grid;
    justify-content: center;
}

@media only screen and (min-width: 640px) {
    .products {
        grid-template-columns: repeat(1, auto);
    }
}

@media only screen and (min-width: 768px) {
    .products {
        grid-template-columns: repeat(2, auto);
    }
}

@media only screen and (min-width: 992px) {
    .products {
        grid-template-columns: repeat(3, auto);
    }
}

.product {
    background-color: white;
    text-align: center;
    padding: 15px;
    max-width: 220px;
}

.product-title {
    height: 45px;
}

img {
    max-width: 100%;
}

div.img{
    height: 160px;
}

button {
    height: 30px;
    width: 80px;
    font-size: 12px;
    border-radius: 4px;
    border: none;
    margin: 5px;
}

button.enabled {
    background-color: #2A9D8F;
    border: 1px solid #2A9D8F;
    color: #EFF2EF;
}

button.disabled {
    background: none;
    border: 1px solid #2A9D8F
}



ul.variants, ul.variants > li {
    list-style: none;
    text-decoration: underline;
    font-size: 12px;
    cursor: default;
    border-radius: 4px;
}

ul.variants {
    display: grid;
    grid-template-columns: repeat(4, 20px);
    grid-template-rows: repeat(3, 20px);
    grid-gap: 5px;
    justify-content: center;
    padding: 1px;
}

li.selected {
    background-color: rgba(42, 157, 143, .2);
}